<h3><center>World Inequality</center></h3>
<h5><center><a href="https://github.com/Aarsh-Wankar/">Aarsh Wankar</a>, IIT Gandhinagar, <a style="text-decoration:none" href="mailto:23110003@iitgn.ac.in">23110003@iitgn.ac.in
<br><br>
<a style="text-decoration:none" href="https://github.com/jsmaskeen/">Jaskirat Singh Maskeen</a>, IIT Gandhinagar, <a style="text-decoration:none" href="mailto:23110146@iitgn.ac.in">23110146@iitgn.ac.in</a>
<br><br>
<a style="text-decoration:none" href="https://github.com/nishchaybhutoria/">Nishchay Bhutoria</a>, IIT Gandhinagar, <a style="text-decoration:none" href="mailto:23110222@iitgn.ac.in">23110222@iitgn.ac.in</a>
<br><br>
<a style="text-decoration:none" href="https://github.com/ridhamp4/">Ridham Patel</a>, IIT Gandhinagar, <a style="text-decoration:none" href="mailto:23110238@iitgn.ac.in">23110238@iitgn.ac.in</a>

</h5>

<center><a href="https://github.com/jsmaskeen/CS328-Writing-Assignment/"><img src="https://img.shields.io/badge/Github-Writing%20Assignment-brightgreen" alt="Repo"></a></center>

In [1]:
from IPython.display import HTML
import plotly.io as pio
pio.renderers.default = "notebook_connected"
HTML('''<button type="button" class="btn btn-outline-danger"  onclick="codeToggle();">Toggle Code</button>''')

#### Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import tarfile
import io

## Exploring the data

#### Loading and cleaning the data

In [ ]:
# takes 1-3 mins
country_dataframes = {}
metadata_dataframes = {}
country_code_region_df = None
with tarfile.open(r'data\wid_all_data.tar.gz', 'r:gz') as tar:
    for member in tar.getmembers():
        if member.isfile():
            file_obj = tar.extractfile(member)
            if file_obj is None:
                continue
            filename = member.name
            if filename.endswith('.csv'):
                df = pd.read_csv(file_obj,delimiter=';')
                if 'WID_countries' in filename:
                    country_code_region_df = df
                elif 'metadata' in filename:
                    metadata_dataframes[filename.split('/')[1][:-4]] = df
                else:
                    country_dataframes[filename.split('/')[1][:-4]] = df

In [24]:
continent_codes = {
    "Africa": "QB",
    "Asia": "QD",
    "Europe": "QE",
    "North America": "QP",
    "South America": "QR",
    "Oceania": "QF"
}
continent_df = {key:country_dataframes[f'WID_data_{val}'] for key,val in continent_codes.items()}

In [29]:
deleted_rows = country_code_region_df[country_code_region_df.isnull().any(axis=1)]
deleted_rows

,alpha2,titlename,shortname,region,region2
45,CN-RU,rural China,Rural China,NaN,NaN
46,CN-UR,urban China,Urban China,NaN,NaN
57,DE-BD,Baden,Baden,NaN,NaN
58,DE-BY,Bavaria,Bavaria,NaN,NaN
59,DE-HB,Bremen,Bremen,NaN,NaN
...,...,...,...,...,...
389,XQ-MER,NaN,NaN,NaN,NaN
390,XR,Russia & Central Asia,Russia & Central Asia,NaN,NaN
391,XR-MER,Russia & Central Asia (at market exchange rate),Russia & Central Asia (at market exchange rate),NaN,NaN
392,XS,South & South-East Asia,South & South-East Asia,NaN,NaN
393,XS-MER,South & South-East Asia (at market exchange rate),South & South-East Asia (at market exchange rate),NaN,NaN

In [21]:
print(list(zip(deleted_rows['alpha2'].to_list(),deleted_rows['titlename'].to_list())))
print()

[('CN-RU', 'rural China'), ('CN-UR', 'urban China'), ('DE-BD', 'Baden'), ('DE-BY', 'Bavaria'), ('DE-HB', 'Bremen'), ('DE-HE', 'Hesse'), ('DE-HH', 'Hamburg'), ('DE-PR', 'Prussia'), ('DE-SN', 'Saxony'), ('DE-WU', 'Wurttemberg'), (nan, 'Namibia'), ('OA', 'Other Russia & Central Asia'), ('OA-MER', 'Other Russia & Central Asia (at market exchange rate)'), ('OB', 'Other East Asia'), ('OB-MER', 'Other East Asia (at market exchange rate)'), ('OC', 'Other Western Europe'), ('OC-MER', 'Other Western Europe (at market exchange rate)'), ('OD', 'Other Latin America'), ('OD-MER', 'Other Latin America (at market exchange rate)'), ('OE', 'Other MENA'), ('OE-MER', 'Other MENA (at market exchange rate)'), ('OH', 'Other North America & Oceania'), ('OH-MER', 'Other North America & Oceania (at market exchange rate)'), ('OI', 'Other South & South-East Asia'), ('OI-MER', 'Other South & South-East Asia (at market exchange rate)'), ('OJ', 'Other Sub-Saharan Africa'), ('OJ-MER', 'Other Sub-Saharan Africa (at market exchange rate)'), ('OK', 'Other East Asia'), ('OK-MER', 'Other East Asia (at market exchange rate)'), ('OL', 'Other Western Europe'), ('OL-MER', 'Other Western Europe (at market exchange rate)'), ('ON', 'Other Latin America'), ('ON-MER', 'Other Latin America (at market exchange rate)'), ('OO', 'Other MENA'), ('OO-MER', 'Other MENA (at market exchange rate)'), ('OP', 'Other South & South-East Asia'), ('OP-MER', 'Other South & South-East Asia (at market exchange rate)'), ('OQ', 'Other Sub-Saharan Africa'), ('OQ-MER', 'Other Sub-Saharan Africa (at market exchange rate)'), ('QB', 'Africa'), ('QB-MER', 'Africa (at market exchange rate)'), ('QC', 'Americas'), ('QC-MER', 'Americas (at market exchange rate)'), ('QD', 'Asia'), ('QD-MER', 'Asia (at market exchange rate)'), ('QE', 'Europe'), ('QE-MER', 'Europe (at market exchange rate)'), ('QF', 'Oceania'), ('QF-MER', 'Oceania (at market exchange rate)'), ('QG', 'Australia and New Zealand'), ('QG-MER', 'Australia and New Zealand (at market exchange rate)'), ('QH', 'the Caribbean'), ('QH-MER', 'the Caribbean (at market exchange rate)'), ('QI', 'Central America'), ('QI-MER', 'Central America (at market exchange rate)'), ('QJ', 'Central Asia'), ('QJ-MER', 'Central Asia (at market exchange rate)'), ('QK', 'East Africa'), ('QK-MER', 'East Africa (at market exchange rate)'), ('QL', 'East Asia'), ('QL-MER', 'East Asia (at market exchange rate)'), ('QM', 'Eastern Europe'), ('QM-MER', 'Eastern Europe (at market exchange rate)'), ('QN', 'Middle Africa'), ('QN-MER', 'Middle Africa (at market exchange rate)'), ('QO', 'North Africa'), ('QO-MER', 'North Africa (at market exchange rate)'), ('QP', 'North America'), ('QP-MER', 'North America (at market exchange rate)'), ('QQ', 'Oceania (excl. Australia and New Zealand)'), ('QQ-MER', 'Oceania (excl. Australia and New Zealand) (at market exchange rate)'), ('QR', 'South America'), ('QR-MER', 'South America (at market exchange rate)'), ('QS', 'South-East Asia'), ('QS-MER', 'South-East Asia (at market exchange rate)'), ('QT', 'South Africa'), ('QT-MER', 'South Africa (at market exchange rate)'), ('QU', 'South Asia'), ('QU-MER', 'South Asia (at market exchange rate)'), ('QV', 'West Africa'), ('QV-MER', 'West Africa (at market exchange rate)'), ('QW', 'West Asia'), ('QW-MER', 'West Asia (at market exchange rate)'), ('QX', 'Western Europe'), ('QX-MER', 'Western Europe (at market exchange rate)'), ('QY', 'European Union'), ('QY-MER', 'European Union (at market exchange rate)'), ('SW', nan), ('US-AK', 'Alaska'), ('US-AL', 'Alabama'), ('US-AR', 'Arkansas'), ('US-AZ', 'Arizona'), ('US-CA', 'California'), ('US-CO', 'Colorado'), ('US-CT', 'Connecticut'), ('US-DC', 'District of Columbia'), ('US-DE', 'Delaware'), ('US-FL', 'Florida'), ('US-GA', 'Georgia'), ('US-HI', 'Hawaii'), ('US-IA', 'Iowa'), ('US-ID', 'Idaho'), ('US-IL', 'Illinois'), ('US-IN', 'Indiana'), ('US-KS', 'Kansas'), ('US-KY', 'Kentucky'), ('US-LA', 'Louisiana'), ('US-MA', 'Massachusetts'), ('US-MD', 'Maryland'), ('US-ME', 'Maine'), ('US-MI', 'Michigan'), ('US-MN', 'Minnesota'), ('US-MO', 'Missouri'), ('US-MS', 'Mississippi'), ('US-MT', 'Montana'), ('US-NC', 'North Carolina'), ('US-ND', 'North Dakota'), ('US-NE', 'Nebraska'), ('US-NH', 'New Hampshire'), ('US-NJ', 'New Jersey'), ('US-NM', 'New Mexico'), ('US-NV', 'Nevada'), ('US-NY', 'New York'), ('US-OH', 'Ohio'), ('US-OK', 'Oklahoma'), ('US-OR', 'Oregon'), ('US-PA', 'Pennsylvania'), ('US-RI', 'Rhode Island'), ('US-SC', 'South Carolina'), ('US-SD', 'South Dakota'), ('US-TN', 'Tennessee'), ('US-TX', 'Texas'), ('US-UT', 'Utah'), ('US-VA', 'Virginia'), ('US-VT', 'Vermont'), ('US-WA', 'Washington'), ('US-WI', 'Wisconsin'), ('US-WV', 'West Virginia'), ('US-WY', 'Wyoming'), ('WO', 'the World'), ('WO-MER', 'the World (at market exchange rate)'), ('XA', 'Asia (excluding Middle East)'), ('XA-MER', 'Asia (excluding Middle East) (at market exchange rate)'), ('XB', 'North America & Oceania'), ('XB-MER', 'North America & Oceania (at market exchange rate)'), ('XF', 'Sub-Saharan Africa'), ('XF-MER', 'Sub-Saharan Africa (at market exchange rate)'), ('XL', 'Latin America'), ('XL-MER', 'Latin America (at market exchange rate)'), ('XM', 'the Middle East'), ('XM-MER', 'the Middle East (at market exchange rate)'), ('XN', 'MENA'), ('XN-MER', 'MENA (at market exchange rate)'), ('XQ', nan), ('XQ-MER', nan), ('XR', 'Russia & Central Asia'), ('XR-MER', 'Russia & Central Asia (at market exchange rate)'), ('XS', 'South & South-East Asia'), ('XS-MER', 'South & South-East Asia (at market exchange rate)')]

In [27]:
metadata_dataframes['WID_metadata_IN']

,country,variable,age,pop,countryname,shortname,simpledes,technicaldes,shorttype,longtype,shortpop,longpop,shortage,longage,unit,source,method,extrapolation,data_points
0,IN,acfccoi992,992,i,India,Consumption of fixed capital of corporations,NaN,NaN,Average,Average income or wealth between two percentil...,individuals,The base unit is the individual (rather than t...,Adults,The population is comprised of individuals ove...,INR,See [URL][URL_TEXT]DINA guidelines[/URL_TEXT][...,WID.world estimations as a proportion of GDP b...,NaN,NaN
1,IN,acfccoi999,999,i,India,Consumption of fixed capital of corporations,NaN,NaN,Average,Average income or wealth between two percentil...,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,INR,See [URL][URL_TEXT]DINA guidelines[/URL_TEXT][...,WID.world estimations as a proportion of GDP b...,NaN,NaN
2,IN,acfcfci992,992,i,India,Consumption of fixed capital of financial copo...,NaN,NaN,Average,Average income or wealth between two percentil...,individuals,The base unit is the individual (rather than t...,Adults,The population is comprised of individuals ove...,INR,See [URL][URL_TEXT]DINA guidelines[/URL_TEXT][...,WID.world estimations as a proportion of GDP b...,NaN,NaN
3,IN,acfcfci999,999,i,India,Consumption of fixed capital of financial copo...,NaN,NaN,Average,Average income or wealth between two percentil...,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,INR,See [URL][URL_TEXT]DINA guidelines[/URL_TEXT][...,WID.world estimations as a proportion of GDP b...,NaN,NaN
4,IN,acfcgoi992,992,i,India,Consumption of fixed capital of the general go...,NaN,NaN,Average,Average income or wealth between two percentil...,individuals,The base unit is the individual (rather than t...,Adults,The population is comprised of individuals ove...,INR,See [URL][URL_TEXT]DINA guidelines[/URL_TEXT][...,WID.world estimations as a proportion of GDP b...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,IN,xlceuxi999,999,i,India,"Market exchange rate, LCU per EUR",Official exchange rate of the local currency t...,NaN,Exchange rates,Exchange rate series,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,local currency per foreign currency,NaN,NaN,NaN,NaN
1102,IN,xlcuspi999,999,i,India,"PPP conversion factor, LCU per USD",PPP conversion factor of current local currenc...,NaN,Exchange rates,Exchange rate series,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,local currency per foreign currency,[URL][URL_LINK]http://stats.oecd.org/Index.asp...,We extrapolate the PPP from the latest ICP (20...,NaN,NaN
1103,IN,xlcusxi999,999,i,India,"Market exchange rate, LCU per USD",Official exchange rate of the local currency t...,NaN,Exchange rates,Exchange rate series,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,local currency per foreign currency,NaN,NaN,NaN,NaN
1104,IN,xlcyupi999,999,i,India,"PPP conversion factor, LCU per CNY",PPP conversion factor of current local currenc...,NaN,Exchange rates,Exchange rate series,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,local currency per foreign currency,[URL][URL_LINK]http://stats.oecd.org/Index.asp...,We extrapolate the PPP from the latest ICP (20...,NaN,NaN
1105,IN,xlcyuxi999,999,i,India,"Market exchange rate, LCU per CNY",Official exchange rate of the local currency t...,NaN,Exchange rates,Exchange rate series,individuals,The base unit is the individual (rather than t...,All Ages,The population is comprised of individuals of ...,local currency per foreign currency,NaN,NaN,NaN,NaN

In [28]:
country_dataframes['WID_data_IN'][country_dataframes['WID_data_IN']['variable'] == 'acfccoi992']

     country    variable percentile  year    value  age pop
1495      IN  acfccoi992     p0p100  1951     99.5  992   i
1496      IN  acfccoi992     p0p100  1952    128.7  992   i
1497      IN  acfccoi992     p0p100  1953    162.6  992   i
1498      IN  acfccoi992     p0p100  1954    161.4  992   i
1499      IN  acfccoi992     p0p100  1955    206.2  992   i
...      ...         ...        ...   ...      ...  ...  ..
1559      IN  acfccoi992     p0p100  2015  11607.5  992   i
1560      IN  acfccoi992     p0p100  2016  12163.4  992   i
1561      IN  acfccoi992     p0p100  2017  12553.6  992   i
1562      IN  acfccoi992     p0p100  2018  13424.4  992   i
1563      IN  acfccoi992     p0p100  2019  13935.0  992   i

[69 rows x 7 columns]

In [36]:
continent_df['North America']

       country    variable percentile  year        value  age pop
0           QP  ehfcari999     p0p100  1990  2466.781094  999   i
1           QP  ehfcari999     p0p100  1991  2460.412382  999   i
2           QP  ehfcari999     p0p100  1992  2562.497751  999   i
3           QP  ehfcari999     p0p100  1993  2551.664727  999   i
4           QP  ehfcari999     p0p100  1994  2574.631642  999   i
...        ...         ...        ...   ...          ...  ...  ..
195225      QP  tptincj992     p9p100  2019  4297.100000  992   j
195226      QP  tptincj992     p9p100  2020  4206.200000  992   j
195227      QP  tptincj992     p9p100  2021  4955.400000  992   j
195228      QP  tptincj992     p9p100  2022  5065.900000  992   j
195229      QP  tptincj992     p9p100  2023  5105.300000  992   j

[195230 rows x 7 columns]

In [42]:
metadata_dataframes['WID_metadata_QP'].to_clipboard()

In [ ]:
continent_df['North America'][(continent_df['North America']['percentile'] == 'p99.9p100') & (continent_df['North America']['variable'] == 'acomhni99')]

Empty DataFrame
Columns: [country, variable, percentile, year, value, age, pop]
Index: []

In [ ]:
def remove_null_values(dataframes):
    ...

In [46]:
df = dataframes['wid_all_data/WID_countries.csv']
empty_rows = df[df.isnull().any(axis=1)]
empty_rows

Empty DataFrame
Columns: [alpha2, titlename, shortname, region, region2]
Index: []

In [12]:
fig = px.scatter_3d(iris_df, x='sepal_length', y='sepal_width', z='petal_width',
              color='species', template="plotly_dark")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

# Jaskirat

# Aarsh

# Ridham

# Nishchay